<div class="container d-flex mt-3 justify-content-center">
  <% if user_signed_in? %>
  <div class='nav align-items-center'>
    <li> <%= link_to "Главная", root_path, class: 'nav-link' %> </li>
    | <%= current_user.email %> |
    <%= button_to "Выйти", destroy_user_session_path, method: :delete, class: 'nav-link' %>
  </div>
  <% end %>
</div>