<div class="container d-flex vh-100 justify-content-center align-items-center">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Что будем делать?</h5>
      <p> <%= link_to 'Готовить', '#', class: "btn btn-primary"%> </p>
      <p> <%= link_to 'Новое блюдо', '#', class: "btn btn-primary"%> </p>
      <p> <%= link_to 'Список покупок', '#', class: "btn btn-primary"%> </p>
    </div>
  </div>
</div>
