<div class='d-flex flex-row justify-content-evenly'>
  <% if current_user.person_characteristics.present? %>
    <div class='d-flex flex-column'>
      <div class='p-2'> <%= render 'cardharacteristic' %> </div>
      <div class='p-2'> <%= render 'normday' %> </div>
    </div>
  <% end %>
  <div class='d-flex'>
      <div class='p-2'> <%= render 'meal_all' %> </div>
  </div>
</div>
