<div class='d-flex flex-row justify-content-evenly'>
  <div class='d-flex flex-column'>
    <div class='p-2'> <%= render 'cardharacteristic' %> </div>
    <div class='p-2'> <%= render 'normday' %> </div>
  </div>
  <div class='d-flex flex-column'>
    <% Meal.statuses.keys.each do |status| %>
      <div class='p-2'> <%= render 'meal', status: status %> </div>
    <% end %>
  </div>
</div>
