<div class='d-flex'>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th></th>
        <th>Белки</th>
        <th>Жиры</th>
        <th>Углеводы</th>
        <th>Каллории</th>
      </tr>
    </thead>  
    <tbody>
      <tr> 
        <th> Норма </th> 

      </tr>
      <tr> <th> Сегодня </th> 
        <% current_user.meals.pfcc_meal_total(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).each do |pfcc| %>
          <th> <%= pfcc %> </th>
        <% end %>
      </tr>
    </tbody>  
  </table>
</div>

<div class="d-inline-flex justify-content-center flex-wrap">
  <% Meal.statuses.keys.each do |status| %>
    <%= render 'meal', status: status %>
  <% end %>
</div>


